@import '../index';

.new-user {
  background-color: $base-highlight-light;
  width: 300px;
  border-style: solid;
  border-width: thin;
  display: flex;
  flex-direction: row;
}

.error{
  color: red;
}