$base-dark: black;
$base-light: white;
$base-highlight-light: #f0f3bd;
$base-highlight-dark: #02c39a;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $base-highlight-dark;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea:focus,
input:focus {
  outline: none;
}
:-moz-ui-invalid {
  box-shadow: none;
}
